<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/meta.ejs") %>
        <title>
            <%=title%>
        </title>
</head>

<body>
    <%- include("../partial/data.ejs") %>
        <h1>This is the index page file</h1>
        <a href="/download">Download this file</a>
        <%- include("../partial/section.ejs") %>
</body>

</html>